services:

  backend:
    build: ./services/backend
    container_name: backend_service
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  frontend:
    build: ./services/frontend
    container_name: frontend_service
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15
    container_name: postgres_service
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
